$background-color_1: #ccc;
$background-color_2: white;
$background-color_3: #000000;

/* Rounded sliders */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $background-color_1;
	-webkit-transition: .4s;
	transition: .4s;
	&:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: $background-color_2;
		-webkit-transition: .4s;
		transition: .4s;
	}
}
input {
	&:checked {
		+ {
			.slider {
				background-color: $background-color_3;
				&:before {
					-webkit-transform: translateX(26px);
					-ms-transform: translateX(26px);
					transform: translateX(26px);
				}
			}
		}
	}
	&:focus {
		+ {
			.slider {
				box-shadow: 0 0 1px #2196F3;
			}
		}
	}
}
.slider.round {
	border-radius: 34px;
	&:before {
		border-radius: 50%;
	}
}


.table-container{
width:100%;

}
table{
width:100%;
}

td, th{
text-align:center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0000001f;
    height:50px;
}
.button-del{
 border-radius:6px;
 background-color:#D22B2B;
 border-color:#0000;
 margin:2px;
}
.button-edit{
 border-radius:6px;
 background-color:#000000;
 border-color:#0000;
 margin:2px;
}

.pagination{
	float: right;
}
